@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

.brand-logo{
  font-family: 'Emilys Candy', cursive;
}

.brand-logo-form{
  font-family: 'Emilys Candy', cursive;
}

.mycard{
  margin-top: 50px;
   
}

.homeTemp{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
 
.auth-card{
  padding: 80px;
  text-align: center;
  max-width: 400px;
  margin: 15px auto;
}

 